<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div id="background">
    <div id="page">
      <div id="header">
        <div id="logo">
          <a href="/"><img src="/images/logo.png" alt="LOGO" height="112" width="118"></a>
        </div>

        <div id="navigation">
          <ul>
            <li><a href="/">HOME</a></li>
            <li class="selected"><a href="/travel">TRAVEL</a></li>
            <li><a href="/rooms.html">ROOMS</a></li>
            <li><a href="/meals.html">MEALS</a></li>
            <li><a href="/news.html">NEWS</a></li>
            <li><a href="/about.html">ABOUT</a></li>
            <li><a href="/contact.html">CONTACT</a></li>
          </ul>
        </div>
      </div>

      <div id="contents">
        <div class="box">
          <div>
            <div class="body">
              <h1>{{title}}</h1>

              <div class="content">
                <div class="room">
                  <img src="/images/dive-site.png" alt="Img">
                  <h2>GALE REEF</h2>
                  <p>
                    Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel vestibulum orci gravida.
                    Vestibulum sit amet porttitor odio. Nulla facilisi. Fusce at pretium felis.
                  </p>
                </div>

                <div class="room">
                  <img src="/images/reef1.jpg" alt="Img">
                  <h2>DAWSON’S REEF</h2>
                  <p>
                    Integer magna leo, posuere et dignissim vitae, porttitor at odio. Pellentesque a metus nec magna placerat volutpat.
                    Nunc nisi mi, elementum sit amet aliquet quis, tristique quis nisl.
                  </p>
                </div>

                <div class="room">
                  <img src="/images/reef2.jpg" alt="Img">
                  <h2>CLAIRE’S REEF</h2>
                  <p>
                    Donec sed felis risus. Nulla facilisi. Donec a orci tellus, et auctor odio. Fusce ac orci nibh, quis semper arcu.
                    Cras orci neque, euismod et accumsan ac, sagittis molestie lorem.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div id="footer">
        <div>
          <ul class="navigation">
            <li><a href="/">HOME</a></li>
            <li class="active"><a href="/travel">TRAVEL</a></li>
            <li><a href="/rooms.html">ROOMS</a></li>
            <li><a href="/meals.html">MEALS</a></li>
            <li><a href="/news.html">NEWS</a></li>
            <li><a href="/about.html">ABOUT</a></li>
            <li><a href="/contact.html">CONTACT</a></li>
          </ul>
          <p>© 2023 by BHACCASYONIZTAS BEACH RESORT. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>